.body{
    font-family: 'Syne', sans-serif;
}

.gif{
    width: 150px;
    height: 100px;
}

nav{
    color: white;
    padding: 20px 50px;
}
.navTop{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: chocolate;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchproduct{
    border: none;
    background-color: transparent;
}

.cart{
    font-family: "syne",sans-serif;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.orders{
    font-family: "syne",sans-serif;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.wishlist{
    font-family: "syne",sans-serif;
    font-size: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.navbottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product{
    font-family: "syne",sans-serif;
}

.list{
    cursor: pointer;
}

.menuitem{
    font-family: sans-serif;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 400;
}

.year{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.fresh{
    margin: 70px;
}

.look{
    margin: 50px;
}

.shape{
    width: 1450px;
    height: 200px;
    border-radius: 0%;
    background-color: chocolate;
}

.section-intro1 {
    font-family: "syne",sans-serif;
    height: 900px;
    background-color: whitesmoke;
    border-radius: 2rem;
    background-size: cover;
    width: 100%;
}

.section-intro1 header {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: right;
    /* border: 2px solid green; */
    padding: 30px;
    margin: 0;
    margin-block: inherit;
}

.section-intro1 header h1 {
    padding: 10px;
    font-size: 5vmax;
    text-decoration: none;
}

.section-intro1 .section-intro1-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5rem;
    /* border: 2px solid blue; */
}

.section-intro1 .section-intro1-grid .section-intro1-grid-list {
    text-decoration: none;
}

.section-intro1 header img {
    height: auto;
    object-fit: cover;
}

.section-intro1 .section-intro1-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5rem;
    /* border: 2px solid blue; */
}

.section-intro1 .section-intro1-grid .section-intro1-grid-list {
    text-decoration: none;
}

.section-intro1 .section-intro1-grid .section-intro1-grid-images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    overflow-x: scroll;
}

.section-intro2 {
    width: 100%;
    height: 80 0px;
    /* background-color: rgb(57, 55, 55); */
}

.section-intro2 .container-first-box {
    position: relative;
    text-align: center;
    /* bottom: 2%; */
    z-index: 2;
    /* height: 10px; */
    /* background-color: #ffffff; */
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: right top | x% y% | xpos ypos; */
    /* background-clip: border-box|padding-box|content-box|initial|inherit; */
    /* background-size: auto|length|cover|contain|initial|inherit; */
    background-size: cover;
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

.section-intro2 .container-first-box .first-box-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 2px solid red; */
    z-index: 1;
}

.section-intro2 .container-first-box .first-box-grid div {
    /* border: 2px solid rgb(132, 0, 255); */
    padding: 2.5rem;
    color: aliceblue;
}

.section-intro2 .last-box {
    /* position: relative; */
    font-family: 'poppins',sans-serif;
    font-size: 40;
    background-color: black;
    font-weight: bold;
    color: aliceblue;
    padding-block: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

form .text-field{
    position: relative;
    margin-bottom: -50px;
}

.text-field input{
    width: 100%;
    padding: 0 10px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: transparent;
}

.textfield label{
    position: absolute;
    top: 50%;
    left: 50px; 
    color: #adadad;
    transform: translateY(-50%);
}
#touch{
    font-size: 100px;
    margin: -20px;
}

#newsletter{
    margin: 10px;
    font-size: 60px;
    font-family: "syne",sans-serif;
}

#para{
    font-family: "syne",sans-serif;
    font-size: 18px;
    font-weight: 300;
}

input[type="submit"]{
    width: 200px;
    height: 50px;
    border: 1px solid;
    background-color: chocolate;
    border-radius: 25px;
    font-size: 18px;
    color: black;
}
